body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u674 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u675 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676 {
  position:absolute;
  left:291px;
  top:88px;
}
#u676_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u676_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u678 {
  position:absolute;
  left:2px;
  top:236px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679 {
  position:absolute;
  left:0px;
  top:72px;
  width:275px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u680 {
  position:absolute;
  left:0px;
  top:148px;
  width:275px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u681 {
  position:absolute;
  left:0px;
  top:216px;
  width:275px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u682 {
  position:absolute;
  left:0px;
  top:292px;
  width:275px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u683 {
  position:absolute;
  left:0px;
  top:362px;
  width:275px;
  height:127px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u676_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u676_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u685 {
  position:absolute;
  left:2px;
  top:236px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686 {
  position:absolute;
  left:0px;
  top:72px;
  width:275px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u676_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u676_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u688 {
  position:absolute;
  left:2px;
  top:236px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689 {
  position:absolute;
  left:0px;
  top:70px;
  width:275px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u676_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u676_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u691 {
  position:absolute;
  left:2px;
  top:236px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692 {
  position:absolute;
  left:0px;
  top:67px;
  width:275px;
  height:215px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u676_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u676_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u694 {
  position:absolute;
  left:2px;
  top:236px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695 {
  position:absolute;
  left:0px;
  top:71px;
  width:275px;
  height:287px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u676_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u676_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u697 {
  position:absolute;
  left:2px;
  top:236px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698 {
  position:absolute;
  left:0px;
  top:70px;
  width:275px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u699 {
  position:absolute;
  left:520px;
  top:108px;
  width:46px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u701 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u702 {
  position:absolute;
  left:291px;
  top:132px;
  width:46px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u703 {
  position:absolute;
  left:337px;
  top:132px;
  width:46px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u704 {
  position:absolute;
  left:383px;
  top:132px;
  width:46px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u705 {
  position:absolute;
  left:429px;
  top:132px;
  width:46px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u706 {
  position:absolute;
  left:475px;
  top:132px;
  width:46px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u707 {
  position:absolute;
  left:521px;
  top:132px;
  width:46px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
