body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u871 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u872 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:487px;
}
#u873 {
  position:absolute;
  left:291px;
  top:88px;
  width:274px;
  height:487px;
}
#u874 {
  position:absolute;
  left:2px;
  top:236px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u877 {
  position:absolute;
  left:291px;
  top:142px;
  width:274px;
  height:344px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
