body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:310px;
}
#u64 {
  position:absolute;
  left:117px;
  top:138px;
  width:647px;
  height:310px;
}
#u65 {
  position:absolute;
  left:2px;
  top:147px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:274px;
}
#u66 {
  position:absolute;
  left:196px;
  top:155px;
  width:488px;
  height:274px;
}
#u67 {
  position:absolute;
  left:2px;
  top:129px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:196px;
  top:182px;
  width:72px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:311px;
  top:253px;
  width:70px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:505px;
  top:250px;
  width:68px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:407px;
  top:250px;
  width:68px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:620px;
  top:182px;
  width:36px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:656px;
  top:182px;
  width:28px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:588px;
  top:182px;
  width:32px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
