body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u426 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u427 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:488px;
}
#u428 {
  position:absolute;
  left:290px;
  top:88px;
  width:274px;
  height:488px;
}
#u429 {
  position:absolute;
  left:2px;
  top:236px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:488px;
}
#u432 {
  position:absolute;
  left:290px;
  top:88px;
  width:274px;
  height:488px;
}
#u433 {
  position:absolute;
  left:2px;
  top:236px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434 {
  position:absolute;
  left:522px;
  top:361px;
  width:42px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
