body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:310px;
}
#u82 {
  position:absolute;
  left:117px;
  top:138px;
  width:647px;
  height:310px;
}
#u83 {
  position:absolute;
  left:2px;
  top:147px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:274px;
}
#u84 {
  position:absolute;
  left:196px;
  top:155px;
  width:488px;
  height:274px;
}
#u85 {
  position:absolute;
  left:2px;
  top:129px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:196px;
  top:170px;
  width:72px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
