body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u823 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u824 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:487px;
}
#u825 {
  position:absolute;
  left:291px;
  top:89px;
  width:274px;
  height:487px;
}
#u826 {
  position:absolute;
  left:2px;
  top:236px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
