body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:310px;
}
#u6 {
  position:absolute;
  left:117px;
  top:138px;
  width:647px;
  height:310px;
}
#u7 {
  position:absolute;
  left:2px;
  top:147px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:203px;
}
#u8 {
  position:absolute;
  left:196px;
  top:156px;
  width:488px;
  height:203px;
}
#u9 {
  position:absolute;
  left:2px;
  top:94px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:77px;
}
#u10 {
  position:absolute;
  left:196px;
  top:353px;
  width:488px;
  height:77px;
}
#u11 {
  position:absolute;
  left:2px;
  top:30px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:620px;
  top:182px;
  width:36px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:656px;
  top:182px;
  width:28px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:454px;
  top:250px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:357px;
  top:390px;
  width:49px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:406px;
  top:390px;
  width:38px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:444px;
  top:390px;
  width:38px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:482px;
  top:390px;
  width:38px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:332px;
  top:250px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:588px;
  top:182px;
  width:32px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
