body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u1058 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:492px;
}
#u1060 {
  position:absolute;
  left:290px;
  top:89px;
  width:276px;
  height:492px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:238px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062 {
  position:absolute;
  left:514px;
  top:107px;
  width:51px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1064 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
