body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u484 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u485 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:560px;
}
#u486 {
  position:absolute;
  left:290px;
  top:87px;
  width:275px;
  height:560px;
}
#u487 {
  position:absolute;
  left:2px;
  top:272px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u490 {
  position:absolute;
  left:298px;
  top:309px;
  width:260px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
