body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u1026 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:491px;
}
#u1028 {
  position:absolute;
  left:289px;
  top:87px;
  width:276px;
  height:491px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:238px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1032 {
  position:absolute;
  left:291px;
  top:545px;
  width:137px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
