body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u1066 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:512px;
}
#u1068 {
  position:absolute;
  left:289px;
  top:87px;
  width:278px;
  height:512px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:248px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
