body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u643 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u644 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:488px;
}
#u645 {
  position:absolute;
  left:290px;
  top:88px;
  width:275px;
  height:488px;
}
#u646 {
  position:absolute;
  left:2px;
  top:236px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u649 {
  position:absolute;
  left:504px;
  top:109px;
  width:61px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u650 {
  position:absolute;
  left:317px;
  top:447px;
  width:222px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u651 {
  position:absolute;
  left:317px;
  top:484px;
  width:222px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
