body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-117px;
  width:647px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:310px;
}
#u1 {
  position:absolute;
  left:117px;
  top:138px;
  width:647px;
  height:310px;
}
#u2 {
  position:absolute;
  left:2px;
  top:147px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:275px;
}
#u3 {
  position:absolute;
  left:195px;
  top:156px;
  width:489px;
  height:275px;
}
#u4 {
  position:absolute;
  left:2px;
  top:130px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
