body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u401 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u402 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:517px;
}
#u403 {
  position:absolute;
  left:290px;
  top:87px;
  width:275px;
  height:517px;
}
#u404 {
  position:absolute;
  left:2px;
  top:250px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u407 {
  position:absolute;
  left:508px;
  top:100px;
  width:57px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u408 {
  position:absolute;
  left:313px;
  top:547px;
  width:233px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
