body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:310px;
}
#u299 {
  position:absolute;
  left:117px;
  top:138px;
  width:647px;
  height:310px;
}
#u300 {
  position:absolute;
  left:2px;
  top:147px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:274px;
}
#u301 {
  position:absolute;
  left:196px;
  top:155px;
  width:488px;
  height:274px;
}
#u302 {
  position:absolute;
  left:2px;
  top:129px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:126px;
}
#u304 {
  position:absolute;
  left:196px;
  top:223px;
  width:489px;
  height:126px;
}
#u305 {
  position:absolute;
  left:2px;
  top:55px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306 {
  position:absolute;
  left:487px;
  top:253px;
  width:91px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u307 {
  position:absolute;
  left:487px;
  top:289px;
  width:92px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u308 {
  position:absolute;
  left:647px;
  top:155px;
  width:38px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
