body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u1097 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:488px;
}
#u1099 {
  position:absolute;
  left:291px;
  top:88px;
  width:275px;
  height:488px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:236px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
