body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u162 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u163 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:488px;
}
#u164 {
  position:absolute;
  left:289px;
  top:88px;
  width:278px;
  height:488px;
}
#u165 {
  position:absolute;
  left:2px;
  top:236px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:495px;
}
#u168 {
  position:absolute;
  left:289px;
  top:88px;
  width:278px;
  height:495px;
}
#u169 {
  position:absolute;
  left:2px;
  top:240px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:489px;
  top:151px;
  width:78px;
  height:425px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
