body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u760 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u761 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:490px;
}
#u762 {
  position:absolute;
  left:289px;
  top:87px;
  width:275px;
  height:490px;
}
#u763 {
  position:absolute;
  left:2px;
  top:237px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764 {
  position:absolute;
  left:519px;
  top:217px;
  width:39px;
  height:352px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u765 {
  position:absolute;
  left:289px;
  top:134px;
  width:275px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u767 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
