body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u813 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u814 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:487px;
}
#u815 {
  position:absolute;
  left:291px;
  top:89px;
  width:274px;
  height:487px;
}
#u816 {
  position:absolute;
  left:2px;
  top:236px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u819 {
  position:absolute;
  left:426px;
  top:106px;
  width:78px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u820 {
  position:absolute;
  left:514px;
  top:106px;
  width:51px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u821 {
  position:absolute;
  left:300px;
  top:142px;
  width:258px;
  height:136px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
