body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:310px;
}
#u41 {
  position:absolute;
  left:117px;
  top:138px;
  width:647px;
  height:310px;
}
#u42 {
  position:absolute;
  left:2px;
  top:147px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:276px;
}
#u43 {
  position:absolute;
  left:195px;
  top:156px;
  width:491px;
  height:276px;
}
#u44 {
  position:absolute;
  left:2px;
  top:130px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:628px;
  top:174px;
  width:39px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:196px;
  top:163px;
  width:46px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
