body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u130 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u131 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:490px;
}
#u132 {
  position:absolute;
  left:291px;
  top:87px;
  width:273px;
  height:490px;
}
#u133 {
  position:absolute;
  left:2px;
  top:237px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:490px;
}
#u134 {
  position:absolute;
  left:291px;
  top:87px;
  width:273px;
  height:490px;
}
#u135 {
  position:absolute;
  left:2px;
  top:237px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:314px;
  top:514px;
  width:228px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
