body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u122 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u123 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:488px;
}
#u124 {
  position:absolute;
  left:291px;
  top:88px;
  width:274px;
  height:488px;
}
#u125 {
  position:absolute;
  left:2px;
  top:236px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:387px;
  top:540px;
  width:178px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u128 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
