body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u436 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u437 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:493px;
}
#u438 {
  position:absolute;
  left:291px;
  top:86px;
  width:274px;
  height:493px;
}
#u439 {
  position:absolute;
  left:2px;
  top:238px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440 {
  position:absolute;
  left:530px;
  top:97px;
  width:35px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u441 {
  position:absolute;
  left:378px;
  top:107px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u442 {
  position:absolute;
  left:328px;
  top:210px;
  width:63px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u443 {
  position:absolute;
  left:401px;
  top:210px;
  width:63px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u444 {
  position:absolute;
  left:474px;
  top:210px;
  width:63px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u445 {
  position:absolute;
  left:297px;
  top:256px;
  width:268px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u446 {
  position:absolute;
  left:297px;
  top:288px;
  width:268px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u447 {
  position:absolute;
  left:297px;
  top:317px;
  width:268px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u448 {
  position:absolute;
  left:297px;
  top:346px;
  width:268px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u449 {
  position:absolute;
  left:297px;
  top:378px;
  width:268px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u450 {
  position:absolute;
  left:297px;
  top:410px;
  width:268px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u451 {
  position:absolute;
  left:297px;
  top:442px;
  width:268px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u452 {
  position:absolute;
  left:297px;
  top:474px;
  width:268px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u453 {
  position:absolute;
  left:297px;
  top:506px;
  width:268px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u455 {
  position:absolute;
  left:349px;
  top:537px;
  width:57px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u456 {
  position:absolute;
  left:406px;
  top:537px;
  width:47px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u457 {
  position:absolute;
  left:453px;
  top:537px;
  width:62px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u458 {
  position:absolute;
  left:515px;
  top:537px;
  width:51px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u459 {
  position:absolute;
  left:290px;
  top:537px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
