body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u879 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u880 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:489px;
}
#u881 {
  position:absolute;
  left:289px;
  top:87px;
  width:275px;
  height:489px;
}
#u882 {
  position:absolute;
  left:2px;
  top:236px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u885 {
  position:absolute;
  left:297px;
  top:154px;
  width:259px;
  height:145px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
