body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:647px;
}
#u724 {
  position:absolute;
  left:273px;
  top:9px;
  width:310px;
  height:647px;
}
#u725 {
  position:absolute;
  left:2px;
  top:316px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:490px;
}
#u726 {
  position:absolute;
  left:290px;
  top:88px;
  width:275px;
  height:490px;
}
#u727 {
  position:absolute;
  left:2px;
  top:237px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729 {
  position:absolute;
  left:291px;
  top:100px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
